---
import Main from "../components/Main/Main";
import Navbar from "../components/Navbar/Navbar.svelte";
import Projects from "../components/Projects/Projects.vue";
import Section from "../components/Section/Section.svelte";
import { Sections } from "../sections";
import "../styles/global.scss";
import "../styles/_text.scss";
---

<html lang="en">
  <head>
    <title>Eduard Beke</title>
  </head>
  <body>
      <Navbar />
      <Section id={Sections.About}>
        <Main />
      </Section>
      <Section id={Sections.Projects} grayBg={false} withTitle={true}>
        <Projects />
      </Section>
  </body>
</html>
